form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 30%;
  text-align: center;
}

.enter-your-codes {
  width: 30%;
  margin: 0 auto;
}

button {
  width: 30%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  background-color: #242333;
}

.dialog-title {
  font-size: 2rem;
}

.dialog-content-text {
  font-size: 1.5rem;
}

@media (max-width: 550px) {
  input {
    width: 100%;
  }

  .enter-your-codes {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
