.level-header {
  font-size: 3rem;
  text-align: center;
}

.level {
  border: 1px solid white;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 2.5rem;
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .level {
    width: 100%;
    margin: 0 auto;
  }
}
