@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  //border: 1px solid white;
}

body {
  background-color: #242333;
  font-family: 'Roboto', sans-serif;
  color: white;
}
